<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Change Password| BusBolt{% endblock %}</title>
  </head>
<body>
    <form id="passwordChangeForm">
        <input type="password" name="old_password" id="old_password" placeholder="Please Ente Current Password">

        <input type="password" name="new_password" id="new_password" placeholder="Enter New Password">

        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password">

        <input type="submit" value="Change Password" id="changePasswordButton">

    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        $("#passwordChangeForm").submit(function(e) {
  e.preventDefault(); // Prevent default form submission

  console.log("Submitted");

  // Retrieve the access token from localStorage
  const accessToken = localStorage.getItem("access_token");

  // Check if access token is available
  if (!accessToken) {
      // Handle the case when access token is not available
      console.error("Access token not found");
      return;
  }
  // Create an empty payload object
  var payload = {
    "user_id": 11,
    "old_password": $("#old_password").val(),
    "password": $("#new_password").val(),
    "password2": $("#confirm_password").val()   
  };

  var payloadString = JSON.stringify(payload);
  
  console.log('Data sent:', payloadString);
  
  // AJAX request
  $.ajax({
    url: "http://127.0.0.1:8000/api/v1/user/change_password/",
    type: "PUT",
    data: payloadString,
    contentType: "application/json",
    beforeSend: function(xhr) {
      xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
    },
    success: function(response) {
      // Handle success
      console.log("Change successful:", response);
      // Close the modal or provide feedback to the user
    },
    error: function(xhr, status, error) {
      // Handle error
      console.error("Error:", error);
      // Provide feedback to the user (e.g., display an error message)
    }
  });
});


    </script>
</body>
</html>
</body>
</html>