{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="otp_verification_form">
        <input type="text" id="otp" name="otp" placeholder="Enter otp">
        <input type="submit" value="Verify">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'main/js/access_token.js' %}"></script>

    <script>
      $(document).ready(function() {
          var accessToken; // Declare accessToken variable globally
  
          function checkAccessToken() {
              // Retrieve the access token from localStorage
              accessToken = localStorage.getItem("access_token");
  
              // Check if access token is available
              if (!accessToken) {
                  // Handle the case when access token is not available
                  console.error("Access token not found");
                  return false; // Return false if access token is not found
              }
  
              // Return true if access token is found
              return true;
          }
  
          if (checkAccessToken()) {
              var buyer_user_id;
              // Retrieve user ID
              $.ajax({
                  url: 'https://yenda-app-api.onrender.com/api/v1/user_id',
                  type: 'GET',
                  contentType: "application/json",
                  beforeSend: function(xhr) {
                      xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
                  },
                  success: function(response) {
                      console.log('User ID:', response.data.user_id);
                      buyer_user_id = response.data.user_id;
                      $('#submitButton').show();
                  },
                  error: function(xhr, status, error) {
                      console.error('Error:', error);
                  }
              });
  
              // OTP Verification Form Submission
              $("#otp_verification_form").submit(function(e) {
                  e.preventDefault(); // Prevent default form submission
  
                  console.log("Submitted");
  
                  // Create an empty payload object
                  var payload = {
                      "otp": $("#otp").val(),
                      "user_id": buyer_user_id 
                  };
  
                  var payloadString = JSON.stringify(payload);
                  
                  console.log('Data sent:', payloadString);
                  
                  // AJAX request
                  $.ajax({
                      url: "http://127.0.0.1:8000/api/v1/user/verify-otp/",
                      type: "POST",
                      data: payloadString,
                      contentType: "application/json",
                      beforeSend: function(xhr) {
                          xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
                      },
                      success: function(response) {
                          // Handle success
                          console.log("Change successful:", response);
                          // Close the modal or provide feedback to the user
                      },
                      error: function(xhr, status, error) {
                          // Handle error
                          console.error("Error:", error);
                          // Provide feedback to the user (e.g., display an error message)
                      }
                  });
              });
          }
      });
  </script>
  </body>
  </html>