<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="otp_verification_form">
        <input type="text" id="otp" name="otp" placeholder="Enter otp">
        <input type="submit" value="Verify">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        $("#otp_verification_form").submit(function(e) {
  e.preventDefault(); // Prevent default form submission

  console.log("Submitted");

  const accessToken = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzE1NjU3NzgxLCJpYXQiOjE3MTM5Mjk3ODEsImp0aSI6IjY2ZmZiNjQ1ZTQ4ZjRkMzJhNmQ4ODQ1ZDE3MzY5ODc2IiwidXNlcl9pZCI6MTF9.7fm6g3lbrL_Y_nd12XaLsuWqCK6QTY-BgflTWrh4Ays";

  // Create an empty payload object
  var payload = {
    "otp": $("#otp").val(),
    "user_id": 11 
  };

  var payloadString = JSON.stringify(payload);
  
  console.log('Data sent:', payloadString);
  
  // AJAX request
  $.ajax({
    url: "http://127.0.0.1:8000/api/v1/user/verify-otp/",
    type: "POST",
    data: payloadString,
    contentType: "application/json",
    beforeSend: function(xhr) {
      xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
    },
    success: function(response) {
      // Handle success
      console.log("Change successful:", response);
      // Close the modal or provide feedback to the user
    },
    error: function(xhr, status, error) {
      // Handle error
      console.error("Error:", error);
      // Provide feedback to the user (e.g., display an error message)
    }
  });
});


    </script>
</body>
</html>