<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP verification</title>
</head>
<body>
    <form id="otp_verification_form">

        <input type="text" name="otp" id="otp" placeholder="Enter Otp sent">

        <input type="submit" value="Verify">

    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        /// Handle form submission
        $("#otp_verification_form").submit(function(e) {
        e.preventDefault(); // Prevent default form submission

        console.log("subitted")

        var phone_number = localStorage.getItem('phone_number');

        // Check if phone_number is not null or undefined before using it
        if (phone_number !== null && phone_number !== undefined) {
            // Create an empty payload object
            var payload = {
                "code": $("#otp").val(),
                "phone_number": phone_number
            };

            // Store the OTP code in localStorage
            localStorage.setItem('code', $("#otp").val());
        } else {
            console.error("Phone number not found in localStorage.");
        }


        var payloadString = JSON.stringify(payload);
        
        console.log('Data sent:', payloadString);
        
        // AJAX request
        $.ajax({
            url: "https://yenda-app-api.onrender.com/api/v1/password/reset/otp/",
            type: "POST",
            data: payloadString,
            contentType: "application/json",
            success: function(response) {

            window.location.href = "{% url 'password-reset-confirm' %}";
            
            },
            error: function(xhr, status, error) {
            // Handle error
            console.error("Error:", error);
            // Provide feedback to the user (e.g., display an error message)
            }
        });
    });
    </script>
</body>
</html>