<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Reset Password | BusBolt{% endblock %}</title>
</head>
<body>

    <form id="passwordResetForm">
        <input type="tel" name="phone_number" id="phone_number" placeholder="Enter Phone Number">

        <input type="submit" value="Submit"> 
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        /// Handle form submission
        $("#passwordResetForm").submit(function(e) {
        e.preventDefault(); // Prevent default form submission

        console.log("subitted")

        // Create an empty payload object
        var payload = {
            "phone_number": $("#phone_number").val()
        };

        localStorage.setItem('phone_number', $("#phone_number").val());

        var payloadString = JSON.stringify(payload);
        
        console.log('Data sent:', payloadString);
        
        // AJAX request
        $.ajax({
            url: "https://yenda-app-api.onrender.com/api/v1/password/reset/",
            type: "POST",
            data: payloadString,
            contentType: "application/json",
            success: function(response) {
            // Handle success
            console.log("Change successful:", response);

            window.location.href = "{% url 'password-reset-otp' %}";
            },
            error: function(xhr, status, error) {
            // Handle error
            console.error("Error:", error);
            // Provide feedback to the user (e.g., display an error message)
            }
        });
    });
    </script>
</body>
</html>