{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

    </style>
</head>
<body>
    <h4>Profile Picture Edit</h4>
    <h4>User name from localStorage</h4>
    <h4>User's number from localStorage</h4>

    <button id="changeNameButton">Change Name</button>

    <!-- The "Change Name" Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
        <span class="close">&times;</span>
        <form id="nameChangeForm">
            <label for="newName">New Name:</label>
            <input type="text" id="newName" name="newName">
            <label for="newLastName">New Last Name:</label>
            <input type="text" id="newLastName" name="newLastName">
            <input type="submit" value="Submit" id="detailsChange">
        </form>
        </div>
    </div>
    
    
    <button id="changeNumberButton">Change Number</button>

    <!-- The "Change Number" Modal -->
    <div id="changeNumberModal" class="modal">
        <div class="modal-content">
        <span class="close">&times;</span>
        <form id="numberChangeForm">
            <label for="newNumber">New Number:</label>
            <input type="text" id="newNumber" name="newNumber">
            <input type="submit" value="Submit" id="numberChange">
        </form>
        </div>
    </div>

    <button id="changePasswordButton">Change Password</button>

    <!-- The "Change Number" Modal -->
    <div id="changePasswordModal" class="modal">
      <div class="modal-content">
      <span class="close">&times;</span>
      <form id="passwordChangeForm">
        <label for="old_password">Old password:</label>
        
        <input type="password" name="old_password" id="old_password" placeholder="Please Ente Current Password">
        
        <label for="new_password">New password:</label>
       
        <input type="password" name="new_password" id="new_password" placeholder="Enter New Password">
        
        <label for="confirm_password">Confirm password:</label>

        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password">

        <input type="submit" value="Change Password" id="changePasswordButton">
      </form>
      </div>
   </div>


   <!--Otp Modal-->
   <div id="otpModal" class="modal">
        <div class="modal-content">
        <span class="close">&times;</span>
        <form id="enterOTPForm">
          <label for="otp">Enter OTP:</label>
          
          <input type="text" name="otp" id="otp" placeholder="Please Enter OTP">
          
          <input type="submit" value="Verify" id="enterOTPButton">
        </form>
        </div>
    </div>

    <button>Deactivate Account</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'main/js/access_token.js' %}"></script>

<script>
// Get the modal
// Get the "Change Name" modal
var nameModal = document.getElementById("myModal");

// Get the button that opens the "Change Name" modal
var nameBtn = document.getElementById("changeNameButton");

// Get the <span> element that closes the "Change Name" modal
var nameSpan = document.getElementsByClassName("close")[0];

// When the user clicks the "Change Name" button, open the modal
nameBtn.onclick = function() {
  nameModal.style.display = "block";
}

// When the user clicks on <span> (x) inside the "Change Name" modal, close it
nameSpan.onclick = function() {
  nameModal.style.display = "none";
}

// Change Phone Number Modal
// Get the "Change Number" modal
var numberModal = document.getElementById("changeNumberModal");

// Get the button that opens the "Change Number" modal
var numberBtn = document.getElementById("changeNumberButton");

// Get the <span> element that closes the "Change Number" modal
var numberSpan = document.getElementsByClassName("close")[1]; // Use index 1 for the second close button

// When the user clicks the "Change Number" button, open the modal
numberBtn.onclick = function() {
  numberModal.style.display = "block";
}

// When the user clicks on <span> (x) inside the "Change Number" modal, close it
numberSpan.onclick = function() {
  numberModal.style.display = "none";
}




// Change Phone Number Modal
// Get the "Change Number" modal
var passwordModal = document.getElementById("changePasswordModal");

// Get the button that opens the "Change Number" modal
var passwordBtn = document.getElementById("changePasswordButton");

// Get the <span> element that closes the "Change Number" modal
var passwordSpan = document.getElementsByClassName("close")[1]; // Use index 1 for the second close button

// When the user clicks the "Change Number" button, open the modal
passwordBtn.onclick = function() {
  passwordModal.style.display = "block";
}

// When the user clicks on <span> (x) inside the "Change Number" modal, close it
  passwordSpan.onclick = function() {
  passwordModal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == nameModal) {
    nameModal.style.display = "none";
  }
  if (event.target == numberModal) {
    numberModal.style.display = "none";
  }
  if (event.target == passwordModal) {
    passwordModal.style.display = "none";
  }
}

var accessToken; // Declare accessToken variable globally

function checkAccessToken() {
    // Retrieve the access token from localStorage
    accessToken = localStorage.getItem("access_token");

    // Check if access token is available
    if (!accessToken) {
        // Handle the case when access token is not available
        console.error("Access token not found");
        return false; // Return false if access token is not found
    }

    // Return true if access token is found
    return true;
}

$(document).ready(function() {

if (checkAccessToken()) {       
    var buyer_user_id;
    // Retrieve user ID
    $.ajax({
        url: 'https://yenda-app-api.onrender.com/api/v1/user_id',
        type: 'GET',
        contentType: "application/json",
        beforeSend: function(xhr) {
            xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
        },
        success: function(response) {
            console.log('User ID:', response.data.user_id);
            buyer_user_id = response.data.user_id;
            $('#submitButton').show();
        },
        error: function(xhr, status, error) {
            console.error('Error:', error);
        }
    });




    // Name Change Form Submission
    $("#nameChangeForm").submit(function(e) {
    e.preventDefault();
    
    // Declare payload variable
    var payload = {};

    // Get the values from the form fields
    var newName = $("#newName").val().trim();
    var newLastName = $("#newLastName").val().trim();
    
    // Add the values to the payload only if they are not empty and are valid strings
    if (newName !== "") {
      payload["first_name"] = newName;
    }

    if (newLastName !== "") {
      payload["last_name"] = newLastName;
    }

    // Add user_id to payload
    payload["user_id"] = buyer_user_id;

    // Call updateUserProfile function with payload
    updateUserProfile(payload);
});


    // Number Change Form Submission
    $("#numberChangeForm").submit(function(e) {
        e.preventDefault();

        var payload = {
            "user_id": buyer_user_id,
            "phone_number": $("#newNumber").val().trim()
        };

        updateUserProfile(payload);
    });

    // Password Change Form Submission
    $("#passwordChangeForm").submit(function(e) {
        e.preventDefault();

        var payload = {
            "user_id": buyer_user_id,
            "old_password": $("#old_password").val(),
            "password": $("#new_password").val(),
            "password2": $("#confirm_password").val()
        };

        changeUserPassword(payload);
    });

    // OTP Form Submission
    $("#enterOTPForm").submit(function(e) {
        e.preventDefault();

        var payload = {
            "user_id": buyer_user_id,
            "otp": $("#otp").val()
        };

        verifyOTP(payload);
    });

}

function updateUserProfile(payload) {
    var payloadString = JSON.stringify(payload);

    console.log('Data sent:', payloadString);

    $.ajax({
        url: "https://yenda-app-api.onrender.com/api/v1/user/update/",
        type: "PUT",
        data: payloadString,
        contentType: "application/json",
        beforeSend: function(xhr) {
            xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
        },
        success: function(response) {
            console.log("Change successful:", response);
            // Close the modal or provide feedback to the user
        },
        error: function(xhr, status, error) {
            console.error("Error:", error);
            // Provide feedback to the user (e.g., display an error message)
        }
    });
}

function changeUserPassword(payload) {
    var payloadString = JSON.stringify(payload);

    console.log('Data sent:', payloadString);

    $.ajax({
        url: "https://yenda-app-api.onrender.com/api/v1/user/change_password/",
        type: "PUT",
        data: payloadString,
        contentType: "application/json",
        beforeSend: function(xhr) {
            xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
        },
        success: function(response) {
            console.log("Change successful:", response);
            // Close the modal or provide feedback to the user
        },
        error: function(xhr, status, error) {
            console.error("Error:", error);
            // Provide feedback to the user (e.g., display an error message)
        }
    });
}

function verifyOTP(payload) {
    var payloadString = JSON.stringify(payload);

    console.log('Data sent:', payloadString);

    $.ajax({
        url: "https://yenda-app-api.onrender.com/api/v1/user/verify-otp/",
        type: "PUT",
        data: payloadString,
        contentType: "application/json",
        beforeSend: function(xhr) {
            xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
        },
        success: function(response) {
            console.log("Change successful:", response);
            // Close the modal or provide feedback to the user
        },
        error: function(xhr, status, error) {
            console.error("Error:", error);
            // Provide feedback to the user (e.g., display an error message)
        }
    });
}

});
</script>
</body>
</html>