{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}User Registeration| BusBolt{% endblock %}</title>
    <style>
        #registeration_form {
            display: flex;
            position: relative;
            flex-direction: column;
            gap: 17px;
            top: 111px;
            background: white;
            padding: 25px;
            border-radius: 20px;
            width: 94%;
            left: 11px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        input {
            height: 32px;
            border-radius: 20px;
            border: 1px solid black;
        }

        .line{
            border-top: 1px solid black;
        }
    </style>
</head>
<body>
    <form id="registeration_form">
        <h3 style="text-align: center;">Sign up</h3>
        <input type="text" name="first_name" id="first_name" placeholder="First name" required>

        <input type="text" name="last_name" id="last_name" placeholder="Last name" required>
        
        <input type="tel" name="phone_number" id="phone_number" placeholder="Phone number" required>

        <input type="password" name="password" id="password" placeholder="Password" required>

        <input type="password" name="password2" id="password2" placeholder="Confirm password" required>

        <input style="background-color: #FF7320; color: white;" type="submit" id="registeration_submit" value="Create Account">
       
        <div class="line"></div><br>

        <p style="text-align: center;">Already have an account? <a href="{% url 'login' %}">sign in</a>
        </p>


    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("#registeration_form").submit(function(e) {
            console.log("Submitted");
            e.preventDefault(); // Prevent default form submission

             // Get form data 
             const formData = {
                first_name: $("input[name='first_name']").val(),
                last_name: $("input[name='last_name']").val(),
                phone_number: $("input[name='phone_number']").val(),
                password: $("input[name='password']").val(),
                password2: $("input[name='password2']").val(),
            };

            // Iterate over formData and set each key-value pair in local storage
            for (const key in formData) {
                if (formData.hasOwnProperty(key)) {
                    localStorage.setItem(key, formData[key]);
                }
            }

            // Send AJAX request
            $.ajax({
                url: "https://yenda-app-api.onrender.com/api/v1/auth/user_registeration/",
                type: "POST",
                contentType: "application/json", 
                data: JSON.stringify( formData ), 
                success: function(response) {
                    console.log("Response:", response); 
              

                    localStorage.setItem("access_token", response.data.attributes.access_token)
                    localStorage.setItem("refresh_token", response.data.attributes.refresh_token)
                        
                    // Redirect to desired URL after successful registration
                    window.location.href = "{% url 'home' %}";
                },
                error: function(xhr, status, error) {   
                    // Handle errors
                    console.error("Registration error", error);
                    var jsonResponse = JSON.parse(xhr.responseText);
                    var errorMessage = jsonResponse.errors.detail;
                    // Display error message
                    $(".error-message").text(errorMessage);
                }
            });
        });

     

    });
</script>

</body>
</html>
{% endblock %}
