<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Search | Yenda</title>
</head>
    <body>
        <form id="trip_search_form">
            <input type="text" name="origin" id="origin" placeholder="Enter origin" required>

            <input type="text" name="destination" id="destination" placeholder="Enter destination" required>

            <input type="date" name="date" id="date" placeholder="Enter date" required>

            <input type="submit" value="submit" id="tripsearchsubmitButton">
            
        </form>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    $(document).ready(function() {

            $("#trip_search_form").submit(function(e) {
                e.preventDefault(); // Prevent default form submission

                // Construct the URL with query parameters
                var origin = $("#origin").val();
                var destination = $("#destination").val();
                var date = $("#date").val();

                var url = 'https://yenda-crs-api-2.onrender.com/api/v1/trip-search/?origin=' + origin + '&destination=' + destination + '&date=' + date;

                // Send AJAX GET request
                $.ajax({
                    url: url,
                    type: 'GET',
                    contentType: 'application/json',
                  
                    success: function(response) {
                        console.log('Success:', response);
                        
                        localStorage.setItem('tripResults', JSON.stringify(response));

                        window.location.href = "{% url 'trip-results' %}";

                        // Handle the response
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                        // Handle the error
                    }
                });
            });
});
</script>
</html>